<div class="main">
    <h3>Vagas</h3>
    <div class="job-section">
        <h4 class="job-section-title">Vagas Abertas</h4>
        <div class="job-container">
            <h5 class="job-title">Vagas estágio em PHP</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum diam id neque semper hendrerit.
                Aenean tristique quam a augue consectetur tristique. Nam vitae dictum nisl.
            </p>
            <p>X Candidaturas</p>
        </div>
        <div class="job-container">
            <h5 class="job-title">Vaga Estágio em Banco de Dados</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum diam id neque semper hendrerit.
                Aenean tristique quam a augue consectetur tristique. Nam vitae dictum nisl.
            </p>
            <p>X Candidaturas</p>
        </div>
    </div>
    <div class="job-section">
        <h4 class="job-section-title">Vagas Pendentes</h4>
        <div class="job-container">
            <h5 class="job-title">Vagas estágio em PHP</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum diam id neque semper hendrerit.
                Aenean tristique quam a augue consectetur tristique. Nam vitae dictum nisl.
            </p>
            <p>X Candidaturas</p>
        </div>
        <div class="job-container">
            <h5 class="job-title">Vaga Estágio em Banco de Dados</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum diam id neque semper hendrerit.
                Aenean tristique quam a augue consectetur tristique. Nam vitae dictum nisl.
            </p>
            <p>X Candidaturas</p>
        </div>
    </div>
    <div class="job-section">
        <h4 class="job-section-title">Vagas Encerradas</h4>
        <div class="job-container">
            <h5 class="job-title">Vagas estágio em PHP</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum diam id neque semper hendrerit.
                Aenean tristique quam a augue consectetur tristique. Nam vitae dictum nisl.
            </p>
            <p>X Candidaturas</p>
        </div>
        <div class="job-container">
            <h5 class="job-title">Vaga Estágio em Banco de Dados</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum diam id neque semper hendrerit.
                Aenean tristique quam a augue consectetur tristique. Nam vitae dictum nisl.
            </p>
            <p>X Candidaturas</p>
        </div>
    </div>
</div>
{% block style %}
<style>
    .job-section {
        margin-bottom: 2rem;
    }
    .job-section-title {
        border-bottom: 1px solid #000;
        margin-bottom: 1rem;
    }
    .job-title {
        font-size: 1.2rem;
    }
</style>
{% endblock style %}