<div class="main">
    <h3>Vagas</h3>
    <a href="{% url 'create-job' %}" class="btn btn-raised btn-primary">Criar Estágio</a>
    {% for job in jobs_list %}
        <div class="job-section">
            {{ job.title }}
        </div>
    {% empty %}
        <div class="job-section">
            Nenhum estágio cadastrado.
        </div>
    {% endfor %}

</div>
{% block style %}
<style>
    .job-section {
        margin-bottom: 2rem;
    }
    .job-section-title {
        border-bottom: 1px solid #000;
        margin-bottom: 1rem;
    }
    .job-title {
        font-size: 1.2rem;
    }
</style>
{% endblock style %}