<div class="type type-student">
    <div class="form-group">
        <label>Nome</label>
        <input name="name" class="form-control" type="text" placeholder="Fulano de Tal">
        <small class="form-text text-danger">{{ form.name.errors }}</small>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input name="email" class="form-control" type="email" placeholder="nome@provedor.com">
        <small class="form-text text-danger">{{ form.email.errors }}</small>
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input name="password" class="form-control" type="password" placeholder="Senha">
        <small class="form-text text-danger">{{ form.password.errors }}</small>
    </div>
    <div class="form-group">
        <label>Confirmar Senha</label>
        <input name="confirm_password" class="form-control" type="password" placeholder="Confirmar Senha">
        <small class="form-text text-danger">{{ form.confirm_password.errors }}</small>
    </div>
</div>