{% extends "admin/base_site.html" %}
{% block content %}
    <h1>Selecione um usuário para candidatar a vaga</h1>
    <form action="" method="post">
                {% csrf_token %}
        <ul>


            {% for student in student_list %}
            <li>
                    <input type="radio" name="escolhido"value="{{student.id}}"> {{ student }}
            </li>
            {% empty %}
            <div >
                Nenhum candidato presente.
            </div>

            {% endfor %}
        </ul>

        <input type="submit" value="Salvar" style="float: none;">
    </form>
{% endblock %}

