{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="mt-2 mb-4">
            <h1>Cadastrar Estágio</h1>
            <div class="validation-alerts">
                {% if messages %}
                    <div class="alert alert-success" role="alert">
                        {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            <p{% if error.tags %} class="{{ error.tags }}"{% endif %}>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <form class="log-in-form" method="post">
                {{ form }}

                <div class="button-container">
                    <input type="submit" class="btn btn-primary btn-cadastrar"  value="Cadastrar" />
                    <a class="btn btn-outline" href="{% url 'home' %}">Cancelar</a>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block style %}
<style>

</style>
{% endblock style %}