{% load staticfiles %}
<html>
    <head>
        <title>Cadastro de Estágios</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        {% block style %}{% endblock style %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {% block script %}
        {% endblock script %}
    </body>
</html>